
  <h1>注文履歴一覧</h1>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th><p>購入日時</p></th>
        <th><p>購入者</p></th>
        <th><p>注文個数</p></th>


      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
         <tr>
           <td><%= link_to admin_order_path(order.id) do %>
             <%= order.created_at %>
             <% end %>
             </td>
           <td><%= order.name %></td>
           <td><%= order.order_details.sum(:amount)%></td>

         </tr>
       <% end %>
    </tbody>
  </table>