
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th><h1>メーカー一覧</h1></th>
 
      </tr>
      <tr>

        <th><p>メーカー名</p></th>
      

      </tr>
    </thead>

    <tbody>
      <% @makers.each do |maker| %>
         <tr>
           <td><%= link_to maker.name, maker_path(maker.id) %></td>
         </tr>
       <% end %>
    </tbody>
  </table>